@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";


/* =========================
   Theme variables
========================= */
@theme {
  --font-poppins: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
}

/* =========================
   Base styles
========================= */
@layer base {
  html,
  body,
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-poppins);
  }

  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}
/* =========================
   Component styles
========================= */
@layer components {
  .container {
    @apply container mx-auto px-4 md:px-6 lg:px-16 py-6;
  }
  .transformation {
    @apply transform transition-transform duration-300 hover:scale-105 cursor-pointer;
  }

  .btn-primary {
    @apply font-medium bg-teal-600 text-white hover:bg-teal-600/80 px-6 py-3 rounded-full text-sm md:text-base inline-block;
  }

  .nav__link {
    @apply font-medium text-gray-700 text-sm hover:text-gray-950;
  }
  .dashed__teal {
    @apply after:content-[''] after:block after:w-12 after:h-0.5 after:bg-teal-600 after:mx-auto after:mt-2;
  }
  .whiteText__paragraph {
    @apply text-white font-normal text-base leading-relaxed;
  }
  .blackText__paragraph {
    @apply text-gray-600 font-normal text-base leading-relaxed;
  }
  .page-title {
    @apply relative font-semibold text-xl pb-2 text-gray-700 capitalize mb-4;
  }
  .page-title::before {
    @apply content-[''] absolute w-10 h-0.5 bg-teal-600 bottom-0;
  }
}

/* =========================
   Utility styles
========================= */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
